In [126]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go
import matplotlib.pyplot as plt
import plotly.io as pio

In [113]:
df_alc = pd.read_csv("student-por.csv")

In [114]:
df_alc = df_alc.drop(columns=['G1','G2','school','Medu','Fedu','Mjob','Fjob','freetime','nursery','paid','schoolsup','traveltime','studytime','higher','address'])

In [115]:
df_alc

,sex,age,famsize,Pstatus,reason,guardian,failures,famsup,activities,internet,romantic,famrel,goout,Dalc,Walc,health,absences,G3
0,F,18,GT3,A,course,mother,0,no,no,no,no,4,4,1,1,3,4,11
1,F,17,GT3,T,course,father,0,yes,no,yes,no,5,3,1,1,3,2,11
2,F,15,LE3,T,other,mother,0,no,no,yes,no,4,2,2,3,3,6,12
3,F,15,GT3,T,home,mother,0,yes,yes,yes,yes,3,2,1,1,5,0,14
4,F,16,GT3,T,home,father,0,yes,no,no,no,4,2,1,2,5,0,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,F,19,GT3,T,course,mother,1,no,yes,yes,no,5,2,1,2,5,4,10
645,F,18,LE3,T,course,mother,0,yes,no,yes,no,4,4,1,1,1,4,16
646,F,18,GT3,T,course,mother,0,no,yes,no,no,1,1,1,1,5,6,9
647,M,17,LE3,T,course,mother,0,no,no,yes,no,2,5,3,4,2,6,10
648,M,18,LE3,T,course,mother,0,no,no,yes,no,4,1,3,4,5,4,11

In [116]:
df_vhigh = df_alc[df_alc['Dalc'] == 5]
#df_high = df_alc[df_alc['Dalc'] == 4]
#df_medium = df_alc[df_alc['Dalc'] == 3] 
#df_low = df_alc[df_alc['Dalc']==2]
#df_vlow = df_alc[df_alc['Dalc']==1]

In [117]:
#Values for students academic reasons to be at school
df_home = df_alc[df_alc['reason']=='home']
df_other = df_alc[df_alc['reason']=='other']
df_course = df_alc[df_alc['reason']=='course']
df_rep = df_alc[df_alc['reason']=='reputation']

#Daily Alcohol consumption for students reasoning for going to school
homeDCount = df_home['Dalc'].value_counts()
otherDCount = df_other['Dalc'].value_counts()
courseDCount = df_course['Dalc'].value_counts()

#Weekend Alcohol consumption for students reasoning for going to school
homeWCount = df_home['Walc'].value_counts()
otherWCount = df_other['Walc'].value_counts()
courseWCount = df_course['Walc'].value_counts()

#Romantic Motivation
df_taken = df_alc[df_alc['romantic']=='yes']
df_single = df_alc[df_alc['romantic']=='no']
takenDCount = df_taken['Dalc'].value_counts()
singleDCount = df_single['Dalc'].value_counts()

In [118]:
dfcourseAbs = df_course['absences'].value_counts()

In [119]:
dfhomeAbs = df_home['absences'].value_counts()

In [120]:
dfotherAbs = df_other['absences'].value_counts()

In [121]:
dftakenAbs = df_taken['absences'].value_counts()

In [122]:
dfsingleAbs= df_single['absences'].value_counts()

In [128]:
#Indicator for Motivation and performance
fig = go.Figure()

fig.add_trace(go.Histogram(x=df_home['failures'],histnorm='percent',name='Home Proximity'))
fig.add_trace(go.Histogram(x=df_course['failures'],histnorm='percent',name='Course Choice'))
fig.add_trace(go.Histogram(x=df_other['failures'],histnorm='percent',name='Other Reasoning'))
fig.add_trace(go.Histogram(x=df_rep['failures'],histnorm='percent',name='Reputation Reasoning'))
fig.update_layout(title="Amount of Failed Classes", xaxis=dict(title='# of student failures',
        titlefont_size=16,
        tickfont_size=14),yaxis=dict(title='Percentage of Students',
        titlefont_size=16,
        tickfont_size=14))

pio.write_html(fig,"student-fails.html", full_html=False)

In [129]:
fig = go.Figure()

fig.add_trace(go.Histogram(x=df_home['Dalc'],histnorm='percent',name='Home Proximity'))
fig.add_trace(go.Histogram(x=df_course['Dalc'],histnorm='percent',name='Course Choice'))
fig.add_trace(go.Histogram(x=df_other['Dalc'],histnorm='percent',name='Other Reasoning'))
fig.add_trace(go.Histogram(x=df_rep['Dalc'],histnorm='percent',name='Reputation Reasoning'))
fig.update_layout(title="Reasoning for Choosing the University and Alcohol Consumption", xaxis=dict(title='Weekly Drinking Habits, 1-5 (low to high)',
        titlefont_size=16,
        tickfont_size=14),yaxis=dict(title='Percentage of Students',
        titlefont_size=16,
        tickfont_size=14))
pio.write_html(fig,"student-proximty.html", full_html=False)

In [130]:
fig = go.Figure()

fig.add_trace(go.Histogram(x=df_single['Dalc'],histnorm='percent',name='Single'))
fig.add_trace(go.Histogram(x=df_taken['Dalc'],histnorm='percent',name='In a Relationship'))
fig.update_layout(title="Students Romantic Status", xaxis=dict(title='Weekly Drinking Habits, 1-5 (low to high)',
        titlefont_size=16,
        tickfont_size=14),yaxis=dict(title='Percentage of Students',
        titlefont_size=16,
        tickfont_size=14))

pio.write_html(fig,"student-romantic.html", full_html=False)

In [94]:
df_PG = df_alc[df_alc['guardian'] != 'other']
df_NPG = df_alc[df_alc['guardian']== 'other']

In [131]:
fig = go.Figure()

fig.add_trace(go.Histogram(x=df_PG['Dalc'],histnorm='percent',name='Parent Guardian'))
fig.add_trace(go.Histogram(x=df_NPG['Dalc'],histnorm='percent',name='Non-Parent Guardian'))
fig.update_layout(title="Students Family Guardian", xaxis=dict(title='Weekly Drinking Habits, 1-5 (low to high)',
        titlefont_size=16,
        tickfont_size=14),yaxis=dict(title='Percentage of Students',
        titlefont_size=16,
        tickfont_size=14))

pio.write_html(fig,"student-guardian.html", full_html=False)

In [132]:
fig = go.Figure()

fig.add_trace(go.Histogram(x=df_single['failures'],histnorm='percent',name='Single'))
fig.add_trace(go.Histogram(x=df_taken['failures'],histnorm='percent',name='In a Relationship'))
fig.update_layout(title="Students Romantic Status", xaxis=dict(title='Weekly Drinking Habits, 1-5 (low to high)',
        titlefont_size=16,
        tickfont_size=14),yaxis=dict(title='Percentage of Students',
        titlefont_size=16,
        tickfont_size=14))

pio.write_html(fig,"student-rom-fails.html", full_html=False)